:root {
  --primary-color: #f5167e;
  --secondary-color: #3d37f1;
  --color1: #242565;
}

.login {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  background-color: var(--color1);
}
@media (max-width: 800px){
 .login{
  flex-direction: column;
  align-items: center;
 }
}
@media (max-width:600px){
  .login{
    padding: 60px 20px;
  }
}

.login-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.login-content .section-title {
  color: #ffffff;
  margin-bottom: 40px;
}

.login-facts_list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  margin-bottom: 40px;
}

.login-facts_list .single-fact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.numbers {
  margin-right: 40px;
}
.numbers h3 {
  text-align: start;
  font-size: 2.2rem;
}
.numbers-ref {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.numbers-ref p {
  text-align: left;
  font-size: 1.6rem;
}

.login-brands_list {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}

.login-brands_list .brand-logo {
  justify-content: start;
}
@media (max-width: 930px){
  .login-brands_list .brand-logo{
    width: 100px;
  }
}

.login-form {
  flex: .8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: #ffffff;
  padding: 60px 30px;
  border-radius: 20px;
  max-height: 350px;

}
.login-form_title {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.login-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
@media (max-width: 900px){
  .login-form{
    width: 100%;
  }
  .login-form form{
    width: 100%;
  }
}


.login-form form input{
    width: 90%;
    height: 45px;
    outline: none;
    border: 1px solid var(--secondary-color);
    padding: 5px 10px;
    border-radius: 50px;
}

.login-form_button{
    outline: none;
    background: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    padding: 8px 45px;
    width: fit-content;
    height: 45px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.login-form_button:hover{
  background-color: var(--secondary-color);
}
.login-form_button a{
    text-decoration : none;
    color: #242565;
    font-size: 1rem;
    text-transform: capitalize;
}
.login-form_button:hover a{
  color: #ffffff;
}

.google-login a{
    color: #000;
    font-size: 1rem;
}
.google-login a:hover{
    color: var(--secondary-color);
}